.App {
  text-align: center;
  position: relative;
}
.pop{
  position: absolute;
  top: 25%;
  /* left: 25%; */
}

.lor{
  display: flex;
  flex-wrap: wrap;
}
.lor div{
  width: 20vw;
  margin: 3rem;
  padding: 2rem;
}
.another{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  margin-top: 15%;
  color: red;
}

